.footer{
    background-color: var(--color-black);
    color: var(--color-white);

    .wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;

        a{
            color: var(--color-white);
        }

        a:hover{
            color: var(--color-primary);
        }

        li{
            list-style-type: none;
        }


        .devider{
            border: 1px solid var(--color-socials);
        }

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        .social{
            background-color: var(--color-socials);
            border-radius: 50%;

        }
    }
}